// here are my variables

$color-one: #ffc83f;
$color-two: #fa5e5b;
$color-three: #1d508d;
$color-four: #684e79;

$font-color: rgb(197, 195, 195);
$font-stack-primary: "Franklin Gothic Medium", "Arial Narrow", "Arial", "Sans Serif";
$font-stack-secondary: "Franklin Gothic Medium", "Arial Narrow", "Arial", "Sans Serif";

$border-color: rgb(197, 195, 195);